 html,body{
 width: 100%;
 height: 100%;
 margin: 0;
 padding: 10px;
 }

 .container{
 height: 300px;
 width: 600px;
 background: red;
 position: absolute;
}

 .block1,
 .block2,
 .block3{
 width:200px;
 height: 100px;
 }
 
 .block1{
 background: black;
 position: absolute;
 top: 1px;
 left: 100px;
 float: left;
 }
 .block2{
 background: orange;
 position: relative;
 top: 100px;
 left: 2px;
 float: right;
 }
 .block3{
 background: yellowgreen;
 clear: both
 }
