/* html,body{
    weight:100%;
    height:100%;
    margin:0;
    padding:0;
}

.table{
    border-color:violet;
    border-style:groove;
} */

body {
    background-color: #f5f7fa;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 800px;
    width: 100%;
    background-color: white;
}

caption{
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

table {
    width: 100%;
    border-collapse: collapse ;
    border-color: pink;
}

th {
    font-size: 18PX;
    font-weight: 600;
    padding: 10px;
    text-align:center;
}

td {
    padding: 10px;
    border-bottom: 1px solid rgb(228, 106, 106);
    text-align:center;
}

#total{
    font-weight: 700;
    background-color: lightskyblue;
    text-align: left;
}

