/* lab3-3.css */

html,
body {
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 0;
}

.form-label {
    font-weight: 600;
}

input[type = "text"],
textarea {
    border:1px solid blue;
}

/* 设置所有input和textarea框变成蓝色
input[type="text"],
textarea {
    border: 2px solid blue;
    padding: 5px;
    outline: none;
} */

/* 设置输入框获取焦点后边框变为红色 */
input[type="text"]:focus,
textarea:focus {
    border-color: red;
}

